<!DOCTYPE html>

<html lang="en">
<body>
<%
let i;
console.log(loggedIn === null);
    if (!loggedIn) {

%>
    <form action="login">
        Enter test VAT number
        <input type="text" id="vrn" name="vrn" />
        <input type="submit" value="Log in via HMRC" />
    </form>
<%
} else {
%>
    <a href="logout">Log me off</a>
    <div id="results"></div>
<%
}
if (data && data['obligations']) {
%>
  <h2>Obligations: </h2>
<%
    let periodKey = '';
    for (i = 0; i < data.obligations.length; i++) {

%>
    <hr/>
    <%
        ob = data.obligations[i];
        console.log(Object.keys(ob))
        Object.keys(ob).forEach((key) => {
            if (key === 'status' && ob[key] === 'O') periodKey = ob['periodKey'];
%>
    <div><%= key %></div><div><%= ob[key] %></div>
<%

})
        if(ob.status === 'O') {
            if(data['returnData']) {
%>
    <div><%= JSON.stringify(data['returnData']) %></div>
    <form action="submit-return">
        <input name="periodKey" type="hidden" value="<%=periodKey%>">
        <input type="submit" value="Submit VAT Return" />
    </form>
    <%
        } else {
%>
    <a href="prepReturn">Prepare return</a>
<%
      }
    }
  }
}
%>
<iframe width="800" height="300" src="http://localhost:8888"></iframe>
</body>
</html>