<!DOCTYPE html>

<html lang="en">
<body>
<%
console.log(loggedIn === null);
if (loggedIn === null) {%>
    <a href="userCall">Log in via HMRC</a>
<% } else {%>
    <a href="logout">Log me off</a>
    <div id="results"></div>
<% } %>
</body>
</html>